.container {
  min-width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: var(--bg-gray-500);

  border: 1px solid #000;
  border-radius: 15px;
  overflow: hidden;

  overflow-y: auto;
  padding: 16px;
}
.title {
  font-size: 40px;
}
.list {
  width: 100%;
  list-style-type: decimal-leading-zero;

  list-style: none;
  font-size: 30px;
  color: rgb(0, 0, 0);
  padding: 10px 0 0 0;
}

.listItem {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  color: #fff;
}
span {
  color: rgb(0, 0, 0);
}
.listItem:hover {
  background: rgb(0, 160, 0);
  color: rgb(0, 0, 0) !important;
}

.listItemOfRezult {
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
}
