.container {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  overflow: hidden;

  overflow-y: auto;
  padding: 40px;

  border: 2px solid var(--white-700);
}
.title {
  font-size: 40px;
  font-weight: 900;
  color: var(--white-500);
}
.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.form > input {
  border: 1px solid #000;
  border-radius: 2px;
  background-color: var(--white-500);
  padding: 16px;
  width: 100%;
  font-size: 24px;
}
.form > button {
  position: absolute;
  right: 16px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 30px;
  width: 30px;

  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0;
}
.green {
  color: green;
}
.red {
  color: red;
}

.react-icons {
  vertical-align: middle;
  background-color: green;
}

.listContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 24px;
  width: 100%;
  padding: 0 0 0 50px;
  list-style-type: decimal-leading-zero;

  font-size: 30px;
  font-weight: 500;
  color: var(--white-500);
}

.listItemContentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.startButton {
  width: 100%;
  padding: 8px;
}
