.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.table {
  position: relative;
  z-index: 1;
}
.category {
  width: 200px;
  /* background-color: var(--bg-gray-700); */
  color: var(--black);
  font-size: 36px;
  font-weight: bold;
}
