.container {
  min-width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background: var(--bg-gray-500);

  border: 1px solid #000;
  border-radius: 15px;
  overflow: hidden;

  overflow-y: auto;
  padding: 16px;
}
.title {
  font-size: 40px;
}

.listContainer {
  display: flex;
  justify-content: center;
  width: 90%;
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
}
.list {
  width: 100%;
  list-style-type: decimal-leading-zero;

  list-style: none;
  font-size: 30px;
  color: rgb(0, 0, 0);
  padding: 10px 0 0 0;
}

.listItem {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  color: var(--white-500);
  position: relative;
}
.listItem > span {
  color: rgb(0, 0, 0);
}
.listItem:hover {
  /* background: var(--bg-gray-700); */
  color: rgb(0, 0, 0) ;
}

.listItem::before {
  content: '';
  position: absolute;
  left: 0;              /* откуда растём */
  bottom: -4px;            /* где линия: снизу элемента */
  height: 2px;
  width: 0;             /* старт: нет ширины */
  background: var(--black);     /* цвет линии */
  transition: all 0.4s ease; /* анимируем только ширину */
}

.listItem:hover::before {
  width: 100%;          /* финиш: на всю ширину */
}