.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: var(--bg-gray-700);

  border: 2px solid var(--white-700);
  overflow: hidden;

  overflow-y: auto;
  padding: 40px;
}
.title {
  font-size: 40px;
  color: var(--white-500);
}

.listContainer {
  display: flex;
  justify-content: center;
  width: 90%;
  flex-grow: 1;
  overflow: hidden;
  overflow-y: auto;
}
.list {
  width: 100%;
  list-style-type: decimal-leading-zero;

  list-style: none;
  font-size: 30px;
}

.listItem {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  color: green;
  position: relative;
}
.listItem > span {
  color: var(--white-500);
}
.listItem:hover {
  font-weight: 600;
}
