.list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  gap: 24px;
  list-style: none;
}
.listItem {
  color: var(--white-500);
  font-size: 36px;
}
.listItem > span {
  color: green;
  font-weight: 700;
}
