.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 60%;
}

.btn {
  cursor: pointer;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: rgb(0, 79, 128);
  color: rgb(209, 209, 209);
  font-size: 24px;
  box-shadow: 0px 5px #000;
}
.btn:hover {
  transform: translate(0px, 5px);
  box-shadow: 0px 0px #000;
}
