td {
  display: inline-block;
  width: 250px;
  height: 170px;

  text-align: center;
}
td > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cost {
  background: var(--bg-gray-700);
  font-size: 32px;
  font-weight: bold;
  color: rgb(209, 209, 209);
  transition: 0.3s all 0s linear;
}
.cost:hover {
  box-shadow: 0px 0px 14px rgb(99, 99, 99);
}
.question {
  font-weight: bold;
}
.answer {
  font-size: 18px;
  font-weight: bold;
  outline: 1px solid #000;
}
.answer > span {
  transform: rotate(-10deg);
}
.container {
  min-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-gray-700);
  padding: 40px;
  gap: 40px;

  border: 1px solid #000;
  overflow: hidden;
  overflow-y: auto;

  border: 2px solid var(--white-700);
}
.textMain {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: var(--white-500);
}
.textComment {
  display: block;
  font-size: 18px;
  color: green;
}
.btn {
  cursor: pointer;
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: green;
  font-size: 24px;
  box-shadow: 0px 5px #000;
}

.btn:hover {
  transform: translate(0px, 5px);
  box-shadow: 0px 0px #000;
}

.textMinor {
  display: block;
  padding: 30px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
