:root {
  --bg-gray-500-10: #282c34d8;
  --bg-gray-500: #282c34;
  --bg-gray-700: #1a1d22;


  --white-500: #e0e0e0;
  --black: rgb(0, 0, 0);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-gray-500);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: var(--white-500);
  color: var(--bg-gray-500);
  padding: 20px;
  width: 250px;
  font-size: 36px;
  z-index: 2;
  cursor: pointer;
  transition: all 1s ease-out;
}
button:hover {
  border-radius: 8px;
}

.greenBtn {
  cursor: pointer;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: green;
  font-size: 24px;
  box-shadow: 0px 5px #000;
}
.redBtn {
  cursor: pointer;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgb(205, 0, 0);
  font-size: 24px;
  box-shadow: 0px 5px #000;
}
.greenBtn:hover,
.redBtn:hover {
  transform: translate(0px, 5px);
  box-shadow: 0px 0px #000;
}

ol,ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}